@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.container {
  min-width: 300px;
  width: 100%;
  padding: 30px 20px;
  background-color: var(--neutral-off-white);
}
@media screen and (min-width: 1005px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}

.header {
  margin-top: 40px;
}
.header__img {
  width: 100%;
}
.header__title {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 2.7rem;
  margin: 25px 0;
}
.header__paragraph {
  color: var(--neutral-dark-grayish-blue);
  line-height: 1.6rem;
}
.header__btn {
  display: inline-block;
  background-color: var(--primary-soft-red);
  color: var(--neutral-off-white);
  text-decoration: none;
  padding: 17px 33px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 30px;
}
.header__btn:hover {
  background-color: var(--neutral-very-dark-blue);
}
@media screen and (min-width: 1005px) {
  .header {
    max-width: calc(100% - 387px);
    margin-top: 0;
  }
  .header__info {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
  }
  .header__info div {
    position: relative;
    width: 335px;
  }
  .header__title {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    width: 335px;
  }
  .header__btn {
    position: absolute;
    bottom: 0;
  }
}

.menu {
  display: none;
  position: fixed;
  right: 0;
  min-height: 100%;
  width: 70%;
  background-color: var(--neutral-off-white);
  padding: 30px 20px;
}
.menu__close {
  float: right;
}
.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-top: 8.3rem;
}
.menu__item {
  color: var(--neutral-very-dark-blue);
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__list {
  display: none;
}
.nav__logo {
  width: 45px;
}
.nav__menu {
  width: 40px;
  height: 20px;
}
@media screen and (min-width: 1005px) {
  .nav {
    margin: 60px 0;
  }
  .nav__logo {
    width: 60px;
  }
  .nav__menu {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
  }
  .nav__item {
    color: var(--neutral-dark-grayish-blue);
  }
}

.articles {
  background-color: var(--neutral-very-dark-blue);
  padding: 25px 20px;
  margin-top: 60px;
}
.articles__title {
  color: var(--primary-soft-orange);
  font-size: 2.2rem;
}
.articles__list {
  margin-top: 30px;
}
@media screen and (min-width: 1005px) {
  .articles {
    width: 335px;
    margin-top: 0;
  }
}

.article__title {
  color: var(--neutral-off-white);
  font-size: 1.35rem;
}
.article__title:hover {
  color: var(--primary-soft-orange);
}
.article__description {
  color: var(--neutral-grayish-blue);
  margin-top: 10px;
}
.article:not(:last-child) {
  border-bottom: 1px solid var(--neutral-grayish-blue);
  padding-bottom: 30px;
}
.article:not(:first-child) {
  padding-top: 30px;
}

.card {
  display: flex;
  gap: 25px;
  width: 100%;
  min-height: 120px;
  max-height: 150px;
}
.card__img {
  width: 28%;
  object-fit: contain;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__number {
  color: var(--neutral-grayish-blue);
  font-size: 2.2rem;
  font-weight: 700;
}
.card__title {
  color: var(--neutral-very-dark-blue);
  font-size: 1.25rem;
}
.card__title:hover {
  color: var(--primary-soft-orange);
}
.card__description {
  color: var(--neutral-dark-grayish-blue);
  font-size: 1rem;
}
@media screen and (min-width: 1005px) {
  .card {
    width: 335px;
  }
}

.cards {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 1005px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=main.css.map */
