.articles {
    background-color: var(--neutral-very-dark-blue);
    padding: 25px 20px;
    margin-top: 60px;

    &__title {
        color: var(--primary-soft-orange);
        font-size: 2.2rem;
    }

    &__list {
        margin-top: 30px;
    }
}