.card {
    display: flex;
    gap: 25px;
    width: 100%;
    min-height: 120px;
    max-height: 150px;

    &__img {
        width: 28%;
        object-fit: contain;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    &__number {
        color: var(--neutral-grayish-blue);
        font-size: 2.2rem;
        font-weight: 700;
    }

    &__title {
        color: var(--neutral-very-dark-blue);
        font-size: 1.25rem;

        &:hover {
            color: var(--primary-soft-orange);
        }
    }

    &__description {
        color: var(--neutral-dark-grayish-blue);
        font-size: 1rem;
    }

    @media screen and (min-width: 1005px ) {
        width: 335px;
    }
}